.hero__heading {
    margin-bottom: 30px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    text-align: center;
    color: var(--main-color);
}

.hero {
    width: 100%;
    background-size: cover;
    background-color: var(--secondary-background);
    padding-top: 118px;
    padding-bottom: 118px;
}

@media screen and (max-width: 767px) {
    .hero {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero/hero-mobile.jpg);
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../../images/hero/hero-mobile@2x.jpg');
        }
    }
}
@media screen and (min-width: 768px) {
    .hero__heading {
    font-size: 26px;
    line-height: 1.62;
    }

    .hero {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero/hero-tablet.jpg);
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../../images/hero/hero-tablet@2x.jpg');
        }
    }
}

@media screen and (min-width: 1200px) {
    .hero__heading {
            font-size: 44px;
            line-height: 1.36;
    }

    .hero {
        padding-top: 200px;
        padding-bottom: 200px;
    }

    .hero {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero/hero-desktop.jpg);
    }
    
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../../images/hero/hero-desktop@2x.jpg');
        }
    }
}
// .hero {
//     background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero.jpg);
//     background-size: cover;
//     background-color: var(--secondary-background);
//     padding-top: 200px;
//     padding-bottom: 200px;
// }
// .hero__heading {
//     margin-bottom: 30px;
//     font-weight: 900;
//     font-size: 44px;
//     line-height: 1.36;
//     text-transform: uppercase;
//     letter-spacing: 0.06em;
//     text-align: center;
//     color: var(--main-color);
// }
