.principles__heading {
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.principles__paragraph {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--secondary-font-color);
}

.principles__image-background {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    background-color: var(--secondary-color);
}

.principles__list {
    display: flex;
}


@media screen and (max-width: 767px) {
    .principles__heading {
        text-align: center;
    }
    .principles__list {
        display: block;
    }  

    .principles__image-background {
        width: 100%;
    }

    .principles__box {
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }
}
@media screen and (min-width: 768px) {

    .principles__list {
        flex-wrap: wrap;
    }
    .principles__box {
        flex-basis: 354px;
        margin-right: 30px;
            &:not(:nth-last-child(-n+2)) {
                margin-bottom: 30px;
            }
            
            &:nth-child(2n+2) {
                margin-right: 0px;
            }
    }
}

@media screen and (min-width: 1200px) {
    .principles-section {
        padding-bottom: 0;
    }
    .principles__image-background {
        width: 270px;
    }

    .principles__box {
        flex-basis: 270px;

        &:not(:nth-last-child(-n+2)) {
        margin-bottom: 0px;
        }

        &:not(:last-child) {
            margin-right: 30px;
        }
    }
}
