.logo {
    display: block;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    text-decoration: none;
}
.header__logo {
    margin-right: 92px;
}

.footer__logo {
    margin-bottom: 20px;
}

.logo-studio-black {
    color: var(--logo-color);
}

.logo-studio-white {
    color: var(--main-color);
}