:root {
    --main-color: #ffffff;
    --secondary-color: #f5f4fa;
    --accent-color: #2196f3;
    --secondary-font-color: #757575;
    --main-font-color: #212121;
    --secondary-background: #2f303a;
    --logo-color: #000000;
    --hover-button: #188ce8;
    --contacts-footer-color: rgba(255, 255, 255, 0.6);
}